<gamesbyemail-base-test [game-name]="'Chess'" [play]="play" [start-game]="startGame" [join-game]="joinGame" [rules]="rules"></gamesbyemail-base-test>
<ng-template #play>
  <gamesbyemail-games-mccooeyhexchess-play></gamesbyemail-games-mccooeyhexchess-play>
</ng-template>
<ng-template #startGame>
  <gamesbyemail-games-mccooeyhexchess-startgame [me]="me"></gamesbyemail-games-mccooeyhexchess-startgame>
</ng-template>
<ng-template #joinGame>
  <gamesbyemail-games-mccooeyhexchess-joingame [me]="me" [game]="game"></gamesbyemail-games-mccooeyhexchess-joingame>
</ng-template>
<ng-template #rules>
  <gamesbyemail-games-mccooeyhexchess-rules></gamesbyemail-games-mccooeyhexchess-rules>
</ng-template>